<h1>Editing Buyed Articles On Store</h1>

<%= render 'form', buyed_articles_on_store: @buyed_articles_on_store %>

<%= link_to 'Show', @buyed_articles_on_store %> |
<%= link_to 'Back', buyed_articles_on_stores_path %>
